absl-py==1.1.0
anyascii==0.3.1
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.6.0
asttokens==2.0.5
astunparse==1.6.3
audioread==3.0.0
backcall==0.2.0
beautifulsoup4==4.11.1
biopandas==0.4.1
biopython==1.80
bleach==5.0.1
Brotli==1.0.9
cachetools==5.2.0
certifi @ file:///croot/certifi_1671487769961/work/certifi
cffi==1.15.1
charset-normalizer==3.0.1
contourpy==1.0.6
coqpit==0.0.16
cycler==0.11.0
Cython==0.29.28
dateparser==1.1.4
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Django==4.1.7
docopt==0.6.2
entrypoints==0.4
exceptiongroup==1.1.0
executing==0.8.3
fasteners==0.18
fastjsonschema==2.15.3
ffpyplayer==4.4.0
Flask==2.2.2
flatbuffers==1.12
fonttools==4.34.4
frozendict==2.3.4
fsspec==2022.11.0
g2pkk==0.1.2
gast==0.4.0
google-auth==2.9.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphnet==0.1.2
GridDataFormats==1.0.1
grip==4.6.1
grpcio==1.47.0
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gsd==2.7.0
h5py==3.7.0
html5lib==1.1
hypothesis==6.68.0
idna==3.4
inflect==5.6.0
iniconfig==2.0.0
ipykernel==6.15.0
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.18.1
jieba==0.42.1
joblib==1.2.0
json5==0.9.8
jsonlines==1.2.0
jupyter==1.0.0
jupyter-client==7.3.4
jupyter-console==6.4.4
jupyter-core==4.10.0
jupyter-server==1.18.1
jupyterlab==3.4.3
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==1.1.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.3
libclang==14.0.1
librosa==0.8.0
llvmlite==0.38.1
lxml==4.9.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib==3.7.0
matplotlib-inline==0.1.3
MDAnalysis==2.4.2
MDAnalysisTests==2.4.2
mecab-python3==1.0.5
mistune==0.8.4
mmtf-python==1.1.3
mpmath==1.2.1
mrcfile==1.4.3
msgpack==1.0.4
multitasking==0.0.11
mutagen==1.45.1
nbclassic==0.4.0
nbclient==0.6.6
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==3.0
nltk==3.8
notebook==6.4.12
notebook-shim==0.1.0
num2words==0.5.12
numba==0.55.2
numpy==1.22.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
opencv-python==4.7.0.68
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.3.0
plotext==5.2.8
pluggy==1.0.0
pooch==1.6.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.4
psutil==5.9.1
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodomex==3.15.0
pygame==2.1.3
Pygments==2.12.0
pynndescent==0.5.8
pyparsing==3.0.9
pypinyin==0.47.1
pysbd==0.3.4
pytest==7.2.1
python-crfsuite==0.9.8
python-dateutil==2.8.2
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pyzmq==23.2.0
qtconsole==5.3.1
QtPy==2.1.0
rdkit==2022.9.4
rdkit-to-params==1.2.3
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
resampy==0.4.2
rsa==4.8
scikit-learn==1.2.0
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soundfile==0.11.0
soupsieve==2.3.2.post1
spektral==1.1.0
sqlparse==0.4.3
stack-data==0.3.0
superpose3d==1.4.1
sympy==1.10
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
tensorflow==2.9.1
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.15.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tomli==2.0.1
torchaudio==0.13.1
torchvision==0.14.1
tornado==6.2
tqdm==4.64.1
trainer==0.0.19
traitlets==5.3.0
TTS==0.10.0
typing_extensions==4.3.0
tzdata==2022.7
tzlocal==4.2
umap-learn==0.5.1
unidic-lite==1.0.8
uniplot==0.9.1
urllib3==1.26.14
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.3
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==3.6.1
wrapt==1.14.1
yfinance==0.2.11
yt-dlp==2022.9.1
